<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="com.kalengo.plugin.getversionplugin"
      version="0.1.0">
    <name>getversion</name>
    <description>getversion Plugin</description>
    <license>MIT</license>
    <keywords>phonegap,getversion</keywords>


    <js-module src="www/getversion.js" name="GetVersionPlugin">
        <clobbers target="KLG.plugins.getversion" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="GetVersionPlugin">
                <param name="android-package" value="com.kalengo.weathermeida.plugins.GetVersionPlugin"/>
            </feature>
        </config-file>

        <source-file src="src/android/GetVersionPlugin.java" target-dir="src/com/kalengo/weathermeida/plugins" />      
     </platform>          
</plugin>